* {
	box-sizing: border-box;
	margin:  0;
	padding: 0;
	/*background-color: #e8fff1;*/
}

h1 {
	color:#000;
	text-decoration: none; 
	font-size: 50px;
	text-align: center;
	font-family: 'Shadows Into Light', regular
	
}

img {
	width:100%;
	display: block;
	margin:10px auto;
}

form {
	text-align: center;
	padding: 20px;
	background-color: #e8fff1;
}

body {
	background-image: url(../images/notebook1.jpeg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

.close-to-do {
	display: inline-block;
	margin-right:10px;
	font-size: 10px;
}

.center-text {
   text-align: center;
}